.debugBoard{
	position: fixed;
    top: 35%;
    left: 3px;
    width: 190px;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
}
.debugBoard ul{
	padding: 0;
	margin: 0;
	margin-top: 0px;
	border-top: 1px solid #ccc;
	padding: 0px 0;
}
.debugBoard ul li{
	list-style: none;
	display: block;
	margin: 0;
	border-bottom: 1px solid #ccc;
	padding: 8px 0px 8px 23px;
}
.headerDebug{
	display: block;
	text-align: center;
	padding: 10px;
	color: #000;
	text-transform: uppercase;
	font-weight: 500;
}
.debugBoard img{
	width: 20px;
	padding: 0px;
	text-align: center;
	padding: 0px;
	position: relative;
    left: 10px;
    top: 1px;
}
.debugBoard li a{
	vertical-align:baseline;
	color: #000;
}
.actDelTrack{
	margin-left: 10px;
    color: #000;
    border-radius: 50%;
    padding: 0px;
    width: 23px;
    height: 23px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    vertical-align: baseline;
    float: right;
}